* {box-sizing: border-box}

html,
body {
  height: 100%;
}

textarea,
input {
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  font-family: inherit;
}

.outer {
  position: relative;
  margin: 0 auto;
  width: 50%;
}

.inner {
  padding: 16px;
}

input[type=text], textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, textarea:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.send {
  background-color: #0099ff;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 33%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}
